{{ assign "title" "Playdate" }}

{{#block "style"}}
label {
  font-weight: bold;
  margin-right: 0.25rem;
}
input[type="email"] {
  appearance: none;
  background: white;
  border: 2px solid #999;
  font-size: 100%;
}
time {
  font-weight: bold;
}
#signup-form {
  margin: 1rem 0;
}
.cost {
 color: black;
 font-weight: bold;
}
.location {
  display: block;
  line-height: 1.5rem;
}
.registration {
  background: #fafafa;
  border: solid #f9f;
  padding-left: 1rem;
}
.registration-button {
  appearance: none;
  background: #ddd;
  border: 2px solid #999;
  font-size: 100%;
  margin-top: 1rem;
  padding: 0.35rem;
}
{{/block}}


<h1>Playdate</h1>

<p>
  Pull up a seat in our circle of chairs. Grab a silly hat or scarf from our coat tree and open up the script. We'll take turns reading lines from plays on stage.
</p>

<div class="registration">
  <h2>Signup Now</h2>
   <time datetime="2023-12-12T22:00:00Z">Tuesday, Dec. 12 6&ndash;8pm.</time>
   <a href="https://goo.gl/maps/ogR2jWQBGRZ3TKGcA" target="_blank">
    <span class="location">Claremont Opera House, Claremont, NH</span>
  </a>
  <p>Cost: <span class="cost">Free</span></p>

  <form id="signup-form" method="post" action="/events/signup">
    <label for="email">Email</label>
    <input type="email" name="email" required placeholder="Your email">
    <input type="hidden" name="event_id" value="4">

    <button class="g-recaptcha registration-button"
            data-sitekey="6LdusTUoAAAAAIdIa-fLUR4UgH19nuvqWLUBxYie"
            data-callback="onSubmit"
            data-action="submit">Signup</button>
  </form>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
function onSubmit(token) {
  const form = document.getElementById("signup-form");
  const is_valid = form.reportValidity();
  if(is_valid) {
    form.submit();
  }
}
</script>
