{{ assign "title" "Playdate: An Evening with Shel Silverstein" }}

{{#block "style"}}
label {
  font-weight: bold;
  margin-right: 0.25rem;
}
input[type="email"] {
  appearance: none;
  background: white;
  border: 2px solid #999;
  font-size: 100%;
}
time {
  font-weight: bold;
}
#signup-form {
  margin: 1rem 0;
}
.cost {
 color: black;
 font-weight: bold;
}
.location {
  display: block;
  line-height: 1.5rem;
}
.registration {
  background: #fafafa;
  border: solid #f9f;
  padding-left: 1rem;
}
.registration-button {
  appearance: none;
  background: #ddd;
  border: 2px solid #999;
  font-size: 100%;
  margin-top: 1rem;
  padding: 0.35rem;
}
{{/block}}


<h1>Playdate: An Evening with Shel Silverstein</h1>

<p>
  Pull up a seat in our circle of chairs. Grab a silly hat or scarf from our coat tree and open up the script. We'll take turns reading lines from some
  act plays by poet, playwrite, and all around funny guy Shel Silverstein.
</p>
<p>
  Yes, that Shel Silverstein who wrote beloved classics like <i>Where the Sidewalk Ends</i> and <i>The Giving Tree</i>. We'll venture into the darkly comic world of Shel Silverstein on stage, a world where nothing is as it seems and where the most innocent conversation can turn menacing in an instant.
</p>
<p>
  You'll have fun. Promise.
</p>

<div class="registration">
  <h2>Signup Now</h2>
   <time datetime="2023-11-14T22:00:00Z">Tuesday, Nov. 14 6&ndash;8pm.</time>
   <a href="https://goo.gl/maps/ogR2jWQBGRZ3TKGcA" target="_blank">
    <span class="location">Claremont Opera House, Claremont, NH</span>
  </a>
  <p>Cost: <span class="cost">Free</span></p>

  <form id="signup-form" method="post" action="/events/signup">
    <label for="email">Email</label>
    <input type="email" name="email" required placeholder="Your email">
    <input type="hidden" name="event_id" value="3">

    <button class="g-recaptcha registration-button"
            data-sitekey="6LdusTUoAAAAAIdIa-fLUR4UgH19nuvqWLUBxYie"
            data-callback="onSubmit"
            data-action="submit">Signup</button>
  </form>
</div>

<h2>The Plays</h2>

<p>Each play is quick, with only a few characters.</p>

<ul>
  <li>One Tennis Shoe</li>
  <li>Bus Stop</li>
  <li>Going Once</li>
  <li>Best Daddy</li>
  <li>The Lifeboat is Sinking</li>
  <li>Smile</li>
  <li>Wash and Dry</li>
  <li>Thinking Up a New Name for the Act</li>
  <li>Buy One, Get One Free</li>
  <li>Blind Willie and the Talking Dog</li>
</ul>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
function onSubmit(token) {
  const form = document.getElementById("signup-form");
  const is_valid = form.reportValidity();
  if(is_valid) {
    form.submit();
  }
}
</script>
