{{#block "style"}}
.venue, .venue-address, .event-date, .event-time {
  display:block;
}
{{/block}}

<h1>{{title}}</h1>
<span class="venue">Arrowhead Recretaion Area</span>
<span class="venue-adddress">47 Edgar Price Road, Claremont, NH 03743</span>
<span class="event-date">March 1, 2024</span>
<span class="event-time">7&ndash;10pm</span>
