{{ assign "title" "Playdate Signup" }}

<h1>You're signed up!</h1>

<p>
  We can't wait to see you for
  <a href="/events/2023-10-03-playdate">Playdate: <em>Almost, Maine</em></a> on
  <strong>Tuesday, October 3 at 6pm</strong> at the Claremont Opera House.
</p>

<p>
  We will send you an email closer to the event date to remind you about the
  fun you signed up for!
</p>