{{ assign "title" "Passegiata Signup" }}

<h1>You're signed up!</h1>

<p>
  We can't wait to walk with you on our
  <a href="/events/2023-10-22-passeggiata">Passeggiata</a> on
  <strong>Sunday, October 22 at 11am</strong> around Opera House Square and Pleasant Street.
</p>

<p>
  We will send you an email closer to the event date to remind you about the
  fun you signed up for!
</p>