<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Coalbiters Club{{#if @root.title}} | {{ @root.title }}{{/if}}</title>
    {{#if style}}
    <style>
      {{{ style }}}
    </style>
    {{/if}}
  </head>
  <body>
    <header>
      <h1>{{#unless hide_home}}<a href="/">Claremont Coalbiters</a>{{/unless}}</h1>
      <nav>
        <ul>
          <li><a href="/events">Events</a></li>
          <li><a href="/about">About Coalbiters</a></li>
        </ul>
      </nav>
    </header>
    <article>
      {{{ body }}}
    </article>
    <footer>&copy;2023 Claremont Coalbiters Club</footer>
  </body>
</html>
