{{ assign "title" "Events" }}

{{#block "style"}}
.cost {
  color: black;
}
.event-title {
  text-decoration: none;
  color: inherit;
}
.month {
  background: #f9f;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}
.location {
  display: block;
  line-height: 1.5rem;
}
.signup {
  background: yellow;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0;
}
.sold-out {
  color: rgb(77, 81, 86);
  font-size: 1.25rem;
  margin-left: 0.25rem;
}
{{/block}}

<h1>Events</h1>

<h2 id="2023-10"><a href="#2023-10" class="month">October 2023</a></h2>

<h2 id="20231003-playdate">
  <a class="event-title" href="/events/2023-10-03-playdate">
    Playdate: <em>Almost, Maine</em>
  </a>
</h2>
<time datetime="2023-10-03T22:00:00Z">Tuesday, Oct. 3 6&ndash;8pm</time>
<a href="https://goo.gl/maps/ogR2jWQBGRZ3TKGcA" target="_blank">
  <span class="location">Claremont Opera House, Claremont, NH</span>
</a>
<p>
  Pull up a seat in our circle of chairs. Grab a silly hat or scarf from our coat tree and open up the script. We'll take turns reading lines from plays on stage. No rehearsing, all playing.
</p>
<p>
  No acting experience required. Water and light snacks provided.
</p>
<p><a class="signup" href="/events/2023-10-03-playdate">Signup Now</a></p>

<h2 id="20231022-passeggiata">Passeggiata: A Stroll</h2>
<time datetime="2023-10-22T15:00:00Z">Sunday, Oct. 22 11am&ndash;12 noon</time>
<span class="location">Opera House Square, Claremont, NH</span>

<p>
  Dress in your Sunday best and take a leisurely stroll with your Coalbiter friends around the downtown.
  Coffee, tea, and cake served following the promenade.
</p>

<h2 id="2023-09"><a href="#2023-09" class="month">September 2023</a></h2>

<h2 id="20230903-slient-disco">Silent Disco #1<span class="sold-out">(Sold out)</span></h2>
<time datetime="2023-09-03T23:00:00Z">Sunday, Sep 3. 7&ndash;9pm</time>
<p>
  Our inaural event. Jam out your choice of three channels of music with ten of your coalbiter buddies in the park. Only you can hear the music in your headphones.
</p>

<h3>Playlist Preview</h3>
<ul>
  <li>
    <a href="https://open.spotify.com/playlist/0iCyv06iR0MuPcLbZzdTZn?si=93d07186107a4210" target="_blank">Low Tempo</a>
  </li>
  <li>
    <a href="https://open.spotify.com/playlist/0EtwUfaUxTC5ElTkmdoVSC?si=7bfe645f39174c63" target="_blank">Medium Tempo</a>
  </li>
  <li>
    <a href="https://open.spotify.com/playlist/1r9WueaFb4w4QOrgT4LuH5?si=4ddc4bd15a0a4335" target="_blank">High Tempo</a>
  </li>
</ul>

<p>
  Suggested donation of <span class="cost">$10</span> per coalbiter.
</p>

<h2 id="unscheduled"><a href="#unscheduled" class="month">Upcoming</a></h2>

<h2 id="unscheduled-slient-disco">Silent Disco #2</h2>
<time>To be determined</time>
<p>
  Our recurring silent disco. Jam out your choice of three channels of music with your coalbiter buddies. Only you can hear the music in your headphones.
</p>
