{{ assign "title" "Events" }}

{{#block "style"}}
.cost {
  color: black;
}
.month {
  background: #f9f;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}
.sold-out {
  color: rgb(77, 81, 86);
  font-size: 1.25rem;
}
{{/block}}

<h1>Events</h1>

<h2 id="2023-09"><a href="#2023-09" class="month">September 2023</a></h2>

<h2>Silent Disco <span class="sold-out">(Sold out)</span></h2>
<time datetime="2023-09-03T23:00:00Z">Sunday, Sep 3. 7&ndash;9pm</time>
<p>
  Our inaural event. Jam out your choice of three channels of music with ten of your coalbiter buddies in the park. Only you can hear the music in your headphones.
</p>
<p>
  Event cost: $269.82. Suggested donation of <span class="cost">$10</span> per coalbiter.
</p>

<h2 id="unscheduled"><a href="#unscheduled" class="month">Upcoming</a></h2>

<h2>Playdate</h2>
<time>Time to be determined</time>
<p>
  Pull up a seat in our circle of chairs. Grab a silly hat or scarf from our coat tree and open up the script. We'll take turns reading lines from plays on stage. No rehearsing, all playing.
</p>
<p>
  Just want to listen? Come sit in the audience. Laugh at the jokes and cheer loudly at the end.
</p>
