{{ assign "title" "Events" }}

{{#block "style"}}
.cost {
  color: black;
}
.event-title {
  text-decoration: none;
  color: inherit;
}
.month {
  background: #f9f;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}
.location {
  display: block;
  line-height: 1.5rem;
}
.signup {
  margin-bottom: 1rem;
}
.signup a {
  background: yellow;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0;
}
.sold-out {
  color: rgb(77, 81, 86);
  font-size: 1.25rem;
  margin-left: 0.25rem;
}
{{/block}}

<h1>Events</h1>
<h2 id="2024-02"><a href="#2024-02" class="month">February 2024</a></h2>

<h2 id="20240217-fieldtrip">
  <a class="event-title" href="/events/2024-02-17-fieldtrip">
    Field Trip: Hood Museum of Art
  </a>
</h2>
<time>Saturday, Feb. 17 2&ndash;3pm</time>
<a href="https://maps.app.goo.gl/oQm5JnjM8Q2SqYf79" target="_blank">
  <span class="location">Hood Museum of Art, Hanover, NH</span>
</a>
<p>
  We're going on a field trip! Join us for an in-person guided tour the galleries at the Hood Musuem of Art. It's free. It's fun. It's art. You're art. Come join us.
</p>
<p class="signup"><a href="/events/2024-02-17-fieldtrip">Signup Now</a></p>


<h2 id="20240217-fieldtrip">
  <a class="event-title" href="/events/2024-02-23-fieldtrip">
    Field Trip: Snow Tubing
  </a>
</h2>
<time>Saturday, Feb. 23 6&ndash;9pm</time>
<a href="https://maps.app.goo.gl/RfmRj4Zg7fzJz6DG9" target="_blank">
  <span class="location">Arrowhead Recreation Area, Claremont, NH</span>
</a>
<p>
  We're going to Arrowhead Recreation Area to snow tube. Feel the rush as you careen under the lights down a lane of snow and ice. It's fast. It's furious. It's fun. And it's even better because it's at night!
</p>
<p class="signup"><a href="/events/2024-02-23-fieldtrip">Signup Now</a></p>


<h2>Previous Events</h2>
<ul>
  <li>
    <a class="event-title" href="/events/2024-01-30-playdate">
      Playdate: Lysistrata
    </a>
  </li>
  <li>
    <a class="event-title" href="/events/2023-12-12-playdate">Playdate: Men on Boats</a>
  </li>
  <li><a class="event-title" href="/events/2023-11-14-playdate">
    Playdate: <i>An Evening with Shel Silverstein</i></a>
  </li>
  <li> <a class="event-title" href="/events/2023-10-22-passeggiata">Passeggiata: A Stroll</a>
  </li>
  <li>
    <a class="event-title" href="/events/2023-10-03-playdate">Playdate: Almost, Maine</a>
  </li>
  <li>Silent Disco</li>
</ul>
