{{ assign "title" "Events" }}

{{#block "style"}}
.cost {
  color: black;
}
.event-title {
  text-decoration: none;
  color: inherit;
}
.month {
  background: #f9f;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}
.location {
  display: block;
  line-height: 1.5rem;
}
.signup {
  background: yellow;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0;
}
.sold-out {
  color: rgb(77, 81, 86);
  font-size: 1.25rem;
  margin-left: 0.25rem;
}
{{/block}}

<h1>Events</h1>
<h2 id="2024-01"><a href="#2024-01" class="month">January 2024</a></h2>

<h2 id="20240130-playdate">
  <a class="event-title" href="/events/2024-01-30-playdate">
    Playdate: Lysistrata
  </a>
</h2>
<time datetime="2023-10-03T22:00:00Z">Tuesday, Jan. 30 6&ndash;8pm</time>
<a href="https://goo.gl/maps/ogR2jWQBGRZ3TKGcA" target="_blank">
  <span class="location">Claremont Opera House, Claremont, NH</span>
</a>
<p>
  This month we're reading an old comedy classic: <i>Lysistrata</i>. The woman of Greece are sick of the ongoing Peloponnesian War and decide to stop it by stop having sex with their husbands. It's a lot of fun. Come join us!
</p>
<p>
  No acting experience required. Water and light snacks provided.
</p>
<p><a class="signup" href="/events/2024-01-30-playdate">Signup Now</a></p>


<h2>Previous Events</h2>
<ul>
  <li>
    <a class="event-title" href="/events/2023-12-12-playdate">Playdate: Men on Boats</a>
  </li>
  <li><a class="event-title" href="/events/2023-11-14-playdate">
    Playdate: <i>An Evening with Shel Silverstein</i></a>
  </li>
  <li> <a class="event-title" href="/events/2023-10-22-passeggiata">Passeggiata: A Stroll</a>
  </li>
  <li>
    <a class="event-title" href="/events/2023-10-03-playdate">Playdate: Almost, Maine</a>
  </li>
  <li>Silent Disco</li>
</ul>
