{{ assign "hide_home" true }}
{{#block "style" }}
article {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: yellow;
}
.main {
  margin: 0 auto;
}
.main h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.event-details {
  font-size: 2rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2rem;
}
.event-detail {
  display: block;
}
.event-time {
  background-color: #5accff;
  padding-left: 2px;
  padding-right: 5px;
}
.event-date {
  background-color: #f9f;
  padding: 2px 5px;
  line-height: 2em;
}
.main p {
  margin-top: 2rem;
}

.main-event {
  all: inherit;
  cursor: pointer;
}

.sign-up-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.email-input {
  flex-grow: 1;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

.signup-button {
  background: #e9e9ed;
}

@media screen and (max-width: 600px) {
  .event-details {
    font-size: 1.5rem;
    height: 5.5rem;
  }
  article {
    margin: 0;
  }
}
{{/block}}
<div class="main">
  <a class="main-event" href="/events/2023-11-14-playdate">
  <h1>Playdate</h1>
  <div class="event-details">
    <time class="event-detail" datetime="2023-11-14T22:00:00Z"><span class="event-time">6pm&ndash;8pm</span></time>
    <span class="event-detail">Tuesday, <span class="event-date">November 14, 2023</span></span>
    <span class="event-detail">Claremont Opera House</span>
  </div>
  </a>
  <p>
    <form class="sign-up-form">
      <input class="email-input" type="email" placeholder="coalbiter@example.com">
      <input class="signup-button" type="submit" value="Sign Up">
    </form>
  </p>
</div>
