{{ assign "hide_home" true }}
{{#block "style" }}
article {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: yellow;
}
.main {
  margin: 0 auto;
}
.main h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.event-details {
  font-size: 2rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2rem;
}
.event-detail {
  display: block;
}
.event-time {
  background-color: #5accff;
  padding-left: 2px;
  padding-right: 5px;
}
.event-date {
  background-color: #f9f;
  padding: 2px 5px;
}
.main p {
  margin-top: 2rem;
}

.main-event {
  all: inherit;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .event-details {
    font-size: 1.5rem;
    height: 5.5rem;
  }
  article {
    margin: 0;
  }
}
{{/block}}
<div class="main">
  <a class="main-event" href="/events/2023-10-03-playdate">
  <h1>Playdate</h1>
  <div class="event-details">
    <time class="event-detail" datetime="2023-10-03T22:00:00Z"><span class="event-time">6pm&ndash;8pm</span></time>
    <span class="event-detail">Tuesday, <span class="event-date">October 3, 2023</span></span>
    <span class="event-detail">Claremont Opera House</span>
  </div>
  </a>
  <p>Only a few spots left. <a href="/events/2023-10-03-playdate">Sign up</a> now!</p>
</div>
