<p>Hey, Coalbiter Friend!</p>

<p>Our next monthly <a href="https://coalbiters.org">silent disco</a> is coming up soon. We'll be dancing the night away from <b>7-10pm next Friday, February 28</b> at the Claremont Country Club. Tickets are $12 per headset.
</p>

<table style="margin: 0 auto">
  <tr><td><a href="http://coalbiters.org">Silent Disco Dance Party</a></td></tr>
  <tr><td>Friday, February 28 from 7-10pm</td></tr>
  <tr><td>Claremont Country Club (<a href="https://maps.app.goo.gl/AbiiNSZCxegPKU2V6">map</a>)</td></tr>
</table>

<p>
  We had over 35 dancers rocking out to three channels of music last time. It was a lot of fun. We hope to see you at this one! 
</p>

<p>
Get your tickets at <a href="https://coalbiters.org">https://coalbiters.org</a>. And please invite your friends!
</p>

<p>
Stay warm,<br>
Josh
</p>
