<p>Hey, Coalbiter Friend!</p>

<p>
  The next silent disco summer dance party is <b>next Friday, August 22!</b>
</p>
<p>
 Do you like fun? Do you like hot dogs? Then come to our next silent disco dance party. We have both! Grab a headset and choose from three channels of music to dance to. Then grab a hot dog or two from our complimentary hot dog bar.
</p>
<p>
  This month we are excited to welcome DJ Chippendale Cooper to spin live tracks! A full 100% of the proceeds from the disco this month will be donated to the New Hampshire Reproductive Freedom Fund. 
  </p>
<p>
Tickets are $12 per headset. Ages 18+
</p>

<table style="margin: 0 auto">
  <tr><td><a href="http://coalbiters.org">Silent Disco: Summer Dance Party</a></td></tr>
  <tr><td>Friday, August 22 from 7-10pm</td></tr>
  <tr><td>Claremont Country Club (<a href="https://maps.app.goo.gl/AbiiNSZCxegPKU2V6">map</a>)</td></tr>
</table>

<p>
  Last month was a blast. We hope to see you at this one!
</p>

<p>
  Get your tickets at <a href="https://coalbiters.org">coalbiters.org</a>. Bring your friends and neighbors!
</p>

<p>
See you soon!<br>
Josh
</p>
