<p>Hey, Coalbiter Friend!</p>

<p>
  Claremont Pride silent disco is <b>this Friday!</b>
</p>
<p>
  We're getting back to our roots. Claremont Pride was what started the silent disco train! And it's time to do it all over again. Come to the Claremont Country Club to celebrate with three stations of music to choose from: throwbacks, upbeat, and slow jams each chosen to suit your mood.
</p>
<p>
  So dress up and get down. Come as your fabulous best self. No matter what you wear, we're always happy to see you! Doors open <b>7-10pm, Friday, June 20</b> at the Claremont Country Club. Tickets are $12 per headset. Complimentary hot dog bar included.
</p>

<table style="margin: 0 auto">
  <tr><td><a href="http://coalbiters.org">Silent Disco Dance Party: 🌈 Pride Edition</a></td></tr>
  <tr><td>Friday, June 20 from 7-10pm</td></tr>
  <tr><td>Claremont Country Club (<a href="https://maps.app.goo.gl/AbiiNSZCxegPKU2V6">map</a>)</td></tr>
</table>

<p>
  Last month was a blast. We hope to see you at this one!
</p>

<p>
  Get your tickets at <a href="https://coalbiters.org">coalbiters.org</a>. Bring your friends and neighbors!
</p>

<p>
See you soon!<br>
Josh
</p>
