<p><b>You're invited to Introvert Happy Hour!</b><p>

<p>
The Claremont Coalbiters have started a silent book club. At the club, friends and strangers gather monthly to share what they're reading before settling in for an hour of sustained, silent reading. At the end, readers can socialize&mdash;or not! There is no assigned reading. Bring your own book, or pick one out at the library. All readers are welcome. All book club events are free.
</p>
<p>
Our inaugural meeting will be <b>Thursday, July 31 at 5:30pm</b> at the <b>Fiske Free Library</b> at 108 Broad Street, Claremont, NH.
</p>
<p>
Registration encouraged but not required: https://coalbiters.org/book-club. Teens and families with children encouraged to join!
</p>

<p>
The club schedule looks like this:
</p>
<ul>
  <li><b>5:30–6pm</b> Arrive, say hello and share what they've been reading</li>
  <li><b>6–7pm</b> Quiet reading hour</li>
  <li><b>7pm</b> Leave the library. Optional socializing elsewhere</li>
</ul>

<p>We really want to pack the room! So please spread the word.</p><br>
All the best,</br>
Josh
