<p>Hey, Coalbiter Friend!</p>

<p>
  Our monthly <a href="https://coalbiters.org">silent disco</a> is happening again this Friday. Last month <b>we raised over $300 for the Stevens High School grad night</b> celebration thanks to fun-loving Coalbiters like you. It worked so well, we've decided to do it again! All profits will be donated to directly to the grad night fund. Tickets are $12 per headset. The fun is free. 
</p>

<table style="margin: 0 auto">
  <tr><td><a href="https://coalbiters.org">Silent Disco Dance Party: Charity Edition</a></td></tr>
  <tr><td>Friday, April 25 from 7-10pm</td></tr>
  <tr><td>Claremont Country Club (<a href="https://maps.app.goo.gl/AbiiNSZCxegPKU2V6">map</a>)</td></tr>
</table>

<p>
As always, the complimentary hot dog bar will be open. Last month was a blast. We hope to see you at this one!
</p>

<p>
Get your tickets at <a href="https://coalbiters.org">coalbiters.org</a>. Please invite your friends. Let's send Stevens graduates off in style!
</p>

<p>
See you there!<br>
Josh
</p>
