<p>Hey, Coalbiter Friend!</p>

<p>
  Our monthly <a href="https://coalbiters.org">silent disco</a> is happening again. And this time <i>all profits will be donated</i> to fund the grad night celebration for the seniors at Stevens High School in Claremont. Doors will be open <b>7-10pm, Friday, March 28</b> at the Claremont Country Club. Tickets are $12 per headset. 
</p>

<table style="margin: 0 auto">
  <tr><td><a href="http://coalbiters.org">Silent Disco Dance Party: Charity Edition</a></td></tr>
  <tr><td>Friday, March 28 from 7-10pm</td></tr>
  <tr><td>Claremont Country Club (<a href="https://maps.app.goo.gl/AbiiNSZCxegPKU2V6">map</a>)</td></tr>
</table>

<p>
  The complimentary hot dog bar will be back by popular demand. Last month was a blast. We hope to see you at this one!
</p>

<p>
Get your tickets at <a href="https://coalbiters.org">coalbiters.org</a>. Bring your friends and neighbors! Proceeds to go this year's graduating high school class. Let's send them off in style.
</p>

<p>
See you soon!<br>
Josh
</p>
